.modal-window {
  width: 73vw;
  height: fit-content;
  border-radius: 300px 0 300px 0;
  background-color: #fff2fd;
  padding: 62px 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
  max-width: 942px;
  top: 201px;
  // position: relative;
  overflow: hidden;
}

.modal-close-img {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 25px;
  height: 25px;
}

.basicLightbox {
  overflow-y: auto;
}

.modal-profile-img {
  width: 14.6%;
  aspect-ratio: 1 / 1;
  border-radius: 90px;
  object-fit: cover;
}

.modal-big-img {
  width: 38%;
  // height: 400px;
  aspect-ratio: 360 / 641;
  object-fit: cover;
}

.modal-inside {
  display: flex;
  justify-content: space-evenly;
}

.modal-window h6 {
  font-weight: 600;
  font-size: 24px;
  color: #dc56c5;
}

.modal-window p {
  color: black;
  font-weight: 400;
  font-size: 18px;
}

.modal-window li {
  gap: 7px;
  display: flex;
  flex-direction: column;
}

.modal-window a {
  width: 145px;
  height: 40px;
  border-radius: 5px;
  background-color: #4c00fe;
  color: white;
  font-weight: 500;
  font-size: 16px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.modal-window ul {
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.modal-window button {
  border-radius: 5px;
  border: 1px solid #4c00fe;
  min-height: 40px;
  height: fit-content;
  width: 27%;
  color: #4c00fe;
  text-align: center;
  background-color: rgba(255, 0, 0, 0);
}

@media (max-width: 768px) {
  .modal-close-img {
    top: 25px;
    right: 25px;
    width: 17px;
    height: 17px;
  }

  .modal-window button {
    width: 27%;
  }
  .modal-window h6 {
    font-size: 20px;
  }

  .modal-window p {
    font-size: 16px;
  }

  .modal-window {
    width: 73vw;
    top: 20px;
  }

  .modal-big-img {
    width: 50%;
  }

  .modal-profile-img {
    width: 11.6%;
  }

  .modal-inside {
    gap: 30px;
  }
}

@media (max-width: 520px) {
  .modal-info li{
    display: flex;
    align-items: center;
    text-align: center;
  }
  .modal-window button {
    width: 80%;
  }

  .modal-window {
    width: 85vw;
    border-radius: 150px 0 150px 0;
    top: 100px;
  }

  .modal-big-img {
    display: none;
  }

  .modal-profile-img {
    width: 37.5%;
  }
}
