$title-color: #DC56C5;
$input-bg-color: #FFFFFF;
$input-tx-ic-color: #939393;
$header-bg: #0B0B0B;
$info-color: #FFFFFF; //це буде для дати і місця проведення, там одинаковий колір (може не зрозуміло буде), у твоїх секціях тільки цей колір з нових
$modal-bg: #FFF2FD;
$modal-info: #0E0E0E;
$modal-btn: #4C00FE;