*, :before, :after {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button, input, select, textarea {
  border: none;
  outline: none;
  font-family: inherit;
}

button {
  cursor: pointer;
}

body {
  background-color: #000;
  font-family: Montserrat, sans-serif;
}

.container {
  outline: 1px solid #1c4518;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (width >= 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (width >= 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (width >= 1280px) {
  .container {
    max-width: 1200px;
  }
}

.header {
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  padding: 24px 20px 40px;
  display: flex;
  position: relative;
  overflow: hidden;
}

@media screen and (width >= 786px) {
  .header {
    padding: 60px 40px 50px;
  }
}

@media screen and (width >= 1280px) {
  .header {
    padding: 80px 50px 60px;
  }
}

.header__title {
  color: #ff0dbf;
  text-align: center;
  width: 100%;
  max-width: 250px;
  margin: 0 auto 35px;
  padding-top: 80px;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 1.2;
}

@media screen and (width >= 786px) {
  .header__title {
    max-width: 500px;
    margin-bottom: 45px;
    padding-top: 10px;
    font-size: 30px;
  }
}

@media screen and (width >= 1280px) {
  .header__title {
    max-width: 720px;
    margin-bottom: 55px;
    font-size: 50px;
  }
}

.header__link {
  z-index: 100;
  max-width: 100%;
  height: auto;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.header__image {
  width: 110px;
  display: block;
}

@media screen and (width >= 786px) {
  .header__image {
    width: 180px;
  }
}

@media screen and (width >= 1280px) {
  .header__image {
    width: 240px;
  }
}

.header__form {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  margin-top: 0;
  padding-bottom: 100px;
  display: flex;
}

@media screen and (width >= 786px) {
  .header__form {
    flex-direction: row;
    gap: 30px;
    padding-bottom: 120px;
  }
}

.header__icon {
  width: 270px;
  margin: 0;
  position: relative;
}

.header__input {
  backdrop-filter: blur(10px);
  color: #fff;
  background: #ffffff1a;
  border-radius: 50px;
  outline: none;
  width: 100%;
  height: 40px;
  padding-left: 30px;
  padding-right: 45px;
  transition: all .3s;
  display: block;
}

.header__input::placeholder {
  color: #939393;
}

.header__icons-start, .header__icons {
  z-index: 2;
  pointer-events: none;
  fill: #939393;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.cards-container {
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 56px;
  display: flex;
}

.card-photo {
  aspect-ratio: 194 / 312;
  text-align: center;
  flex-direction: column;
  gap: 5px;
  width: clamp(138px, 14vw, 194px);
  font-family: Montserrat;
  font-size: 16px;
  list-style: none;
  transition: transform .3s;
  display: flex;
  position: relative;
}

.card-photo:hover {
  transform: scale(1.1);
}

.card-img {
  aspect-ratio: 180 / 227;
  object-fit: cover;
  border-radius: 50px 0;
  margin-top: 13px;
  margin-right: 14px;
}

.card-photo h5 {
  color: #dc56c5;
  font-weight: 700;
}

.card-photo h6 {
  color: #fff;
  font-weight: 400;
}

.card-photo p {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

.icon-decor {
  width: 78.9%;
  height: 45.8%;
  position: absolute;
  top: 0;
  right: 0;
}

.footer {
  text-align: center;
  color: #fff;
  margin-top: 20px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  display: block;
}

@media (width <= 768px) {
  .cards-container {
    gap: 13px;
  }
}

@media (width <= 400px) {
  .cards-container {
    gap: 0;
  }

  .icon-decor {
    width: 109px;
    height: 101px;
  }
}
/*# sourceMappingURL=event-booster.f7626f62.css.map */
